<ion-list class="small">
    <ion-item class="item-icon-left nubank">
        <i class="icon ion-ios-help-outline"></i>
        <h2>Dúvidas frequentes</h2>
    </ion-item>
    <ion-item class="item-icon-left nubank">
        <i class="icon ion-chatbubble-working"></i>
        <h2>Chat</h2>
    </ion-item>
    <ion-item class="item-icon-left nubank">
        <i class="icon ion-ios-telephone-outline"></i>
        <h2>0800 887 1595</h2>
    </ion-item>
    <ion-item class="item-icon-left nubank">
        <i class="icon ion-ios-email-outline"></i>
        <h2>meajuda@nubank.com.br</h2>
    </ion-item>
    <ion-item class="text-center" ng-click="closeHelpPopup()">
        <h2 class="nubank">Cancelar</h2>
    </ion-item>
</ion-list>