<ion-view>
    <ion-content>
        <div class="row nubank-main">
            <div class="col-25 col-menu text-center">

                <ion-item class="item-borderless item-transparent light item-text-wrap">
                    <i class="icon ion-ios-settings"></i><br/>
                    <p>Minha Conta</p>
                </ion-item>
                <ion-item class="item-borderless item-transparent light item-text-wrap">
                    <i class="icon ion-chatbubbles"></i><br/>
                    <p>Me Ajuda</p>
                </ion-item>
                <ion-item class="item-borderless item-transparent light item-text-wrap">
                    <i class="icon ion-person-add"></i><br/>
                    <p>Indicar</p>
                </ion-item>
                <ion-item class="item-borderless item-transparent light item-text-wrap">
                    <i class="icon ion-unlocked"></i><br/>
                    <p>Bloqueio Temporário</p>
                </ion-item>
            </div>
            <div class="col col-main assertive-bg">

            </div>
        </div>
    </ion-content>
</ion-view>
