<ion-view>
    <ion-header-bar align-title="center" class="nubank-bg-lighter">
        <button class="button button-icon icon ion-ios-arrow-thin-left light" ng-click="goBack()"></button>
        <h1 class="title light">Indicar amigos</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <small class="small">Gostando do cartão Nubank? Agora você pode indicar amigos para experimentar antes de todo mundo.</small>
        <div class="card padding">
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-email nubank"></i>

                <h2>E-mail</h2>
                <span class="badge badge-assertive referral-notification">9</span>
            </ion-item>
        </div>
        <div class="card padding">
            <ion-item class="item-icon-left">
                <i class="icon ion-social-whatsapp balanced"></i>

                <h2>WhatsApp</h2>
            </ion-item>
        </div>
        <div class="card padding">
            <ion-item class="item-icon-left">
                <i class="icon ion-social-facebook positive"></i>

                <h2>Facebook</h2>
            </ion-item>
        </div>
    </ion-content>
</ion-view>