/* Empty. Add your own CSS if you like */
/** {*/
    /*font-family: 'Montserrat', sans-serif !important;*/
/*}*/
.nubank-search {
    font-size: 26px;
    padding-right: 28px !important;
}

.nubank-main {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 100% !important;
    -ms-flex: 0 1 100% !important;
    flex: 0 1 100% !important;
}
.scroll{
    height: 100% !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -moz-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;

}

.nubank-bg-lighter {
    background-color: #423347;
}

.nubank-bg-light {
    background-color: #3b2f3f;
}

.col-menu p {
    font-size: 10px;
    line-height: 130%;
    color: #a99cae !important;
}
.col-menu br {
    line-height: 150%;
}

.item-transparent {
    background-color: transparent !important;
}
.col-menu .icon {
    font-size: 32px;
}
.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.list-timeline:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 55px;
    bottom: -50px;
    left: 34px;
    border-left: 1px solid #ccc;
}
.badge-timeline {
    right: 16px !important;
    font-weight: normal;
    font-size: 12px;
}
.nubank {
    color: #6E2B77;
}
.nubank-bg {
    background-color: #6E2B77;
}
.badge-notification {
    top: 0 !important;
    right: 50px !important;
    font-size: 11px;
    padding: 0 5px;
}
.list-timeline h3 {
    max-width: 115px;
}
.nubank-main .padding-top {
    padding-top: 20px;
}
.slider, .full-height {
    height: 100%;
}

.item-month {
    background-color: #423347;
    margin-bottom: 2px;
    height: 80px;
}
.item-month h2 {
    color: #ddd;
    font-size: 18px;
    font-weight: normal;
}

.orange {
    color: orange;
}
.badge-month {
    right: 16px !important;
    font-weight: normal;
    font-size: 18px;
}

.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.badge-center {
    top: 50% !important;
    margin-top: -12px !important;
}
.nubank-main .item {
    padding: 16px 8px;
}
.logo-small {
    width: 88px;
}
.home-item-1 {
    height: 25vh;
    border-right: 20px solid orange !important;
}
.home-item-2 {
    height: 75vh;
    border-right: 20px solid #33cd5f !important;
}
.no-padding {
    padding: 0 !important;
}
.padding-right {
    padding-right: 16px;
}
.item-complex .item-content, .item-radio .item-content {
    padding: 0 !important;
    background-color: transparent !important;
}
.nubank-bg-lighter .light:hover {
    color: #fff;
}
.small p {
    font-size: .7em !important;
}
.small h2, .small span, .small input {
    font-size: .8em !important;
}
.account-spacing {
    margin-top: 40px;
}
.margin-bottom {
    margin-bottom: 40px;
}

.small .icon {
    font-size: 24px !important;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.small .badge {
    font-size: 10px !important;
}

.referral-notification {
    right: auto !important;
    left: 30px;
    top: 0 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 4px 8px;
}

.button.button-nubank {
    border-color: #ddd;
    background-color: #fff;
    color: #6E2B77;
}

.help-popup .popup-body {
    padding: 0;
}
.help-popup .popup-head {
    display: none;
}
.block-popup .button {
    font-size: 14px;
    border-radius: 5px;
}
.block-popup .popup-head {
    border-bottom: 1px solid #6E2B77;
}